<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="LTHSK" connectionString="server=DESKTOP-710QFTF\SQLEXPRESS;database = LTHSK; User =sa; pwd=123456;Initial Catalog=LTHSK;Integrated Security=True"/>
	</connectionStrings>
</configuration>